.header {
  padding-top: 50px;
}

.MuiListItemAvatar-root {
  display: flex;
  justify-content: center;
}

.MuiListItemText-primary {
  text-align: center;
}
.MuiListItemText-secondary {
  text-align: center;
}

.list--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
